---
import AvatarList from "./AvatarList.astro";
type Props = {
  path: string;
};
const { path } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer>
  <AvatarList path={path} />Created by <a href="https://mk.gg">Matt Kane</a>. ©
  2023-{currentYear}
</footer>

<style>
  footer {
    margin-top: auto;
    padding: 2rem;
    border-top: 1px solid var(--theme-divider);
  }
  footer a {
    color: var(--theme-link);
  }
</style>
