---
type Props = {
  path: string;
};
const currentYear = new Date().getFullYear();
---

<footer>
  Created by <a href="https://mk.gg">Matt Kane</a>. © 2023-{currentYear}
</footer>

<style>
  footer {
    margin-top: auto;
    padding: 2rem;
    border-top: 1px solid var(--theme-divider);
  }
  footer a {
    color: var(--theme-link);
  }
</style>
