---
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import { SITE } from "../consts";

type Props = {
  title: string;
  description: string;
};

const data = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
---

<html dir="ltr" lang="en" class="initial">
  <head>
    <HeadCommon />
    <HeadSEO {...data} dir="ltr" canonicalUrl={canonicalURL} />
    <title>
      {`${SITE.title} - ${data.title}`}
    </title>
    <style>
      body {
        width: 100%;
        display: grid;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
        --theme-bg: linear-gradient(to top, #24243e, #302b63, #0f0c29);
        --theme-text: white;
        --theme-text-light: hsla(var(--color-gray-80), 1);
      }

      .layout {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns:
          minmax(var(--gutter), 1fr) minmax(0, var(--max-width))
          minmax(var(--gutter), 1fr);
        overflow-x: hidden;
      }

      #grid-main {
        padding: var(--doc-padding) var(--gutter);
        grid-column: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      footer {
        text-align: center;
        color: var(--theme-text-light);
        font-size: 0.8rem;
      }

      @media (min-width: 72em) {
        .layout {
          grid-template-columns: 20rem minmax(0, var(--max-width)) 20rem;
          padding-left: 0;
          padding-right: 0;
          margin: 0 auto;
        }
      }
    </style>
    <style is:global>
      .layout > * {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>

  <body>
    <main class="layout">
      <div id="grid-main">
        <slot />
      </div>
    </main>
    <footer>
      Unpic was created by <a href="https://mk.gg/">Matt Kane</a> © 2023-{
        new Date().getFullYear()
      }
    </footer>
  </body>
</html>
