---
import Scroller from "../components/Scroller.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
  <div class="intro">
    <h2>🌳 Unpic</h2>
    <div class="body">The best images for <Scroller /></div>
  </div>
  <div class="cards">
    <a href="/en/unpic-img">
      <h2>🌳 unpic-img</h2>
      <p>The best image component for every framework</p>
    </a>
    <a>
      <h2>🌳 unpic</h2>
      <p>Universal translator for image CDNs</p>
    </a>
    <a>
      <h2>🌳 @unpic/background</h2>
      <p>Beautiful image placeholders, with no client-side JS</p>
    </a>
    <a>
      <h2>🌳 @unpic/pixels</h2>
      <p>Load and decode images to raw pixels</p>
    </a>
  </div>
</HomeLayout>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
  }

  .intro {
    text-align: center;
    margin-bottom: 2rem;
  }

  .body {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  @media (min-width: 768px) {
    .intro {
      margin: 5rem auto;
    }
  }

  .cards h2 {
    font-size: 1.5rem;
    /* font-family: var(--font-mono); */
  }

  .card .body {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .cards > a {
    padding: 1.5rem;
    border-radius: 0.5rem;
    /* border: 1px solid var(--theme-divider); */
    text-decoration: none;
    color: inherit;
  }

  .cards p {
    color: inherit;
    font-size: 1.1rem;
  }

  .cards > a:hover,
  .card:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    text-decoration: none;
  }
</style>
