---
import { Icon } from "astro-icon";
---

<style>
  .wrap {
    height: 1.5em;
    overflow: hidden;
    display: inline-block;
    transform: translateY(0.25rem);
    padding-left: 2px;
  }
  li {
    font-size: 1.5rem;
    line-height: 2em;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    animation: roll-up 16s infinite cubic-bezier(0.75, 0, 0.25, 1);
  }

  [astro-icon] {
    height: 18px;
    width: 18px;
    margin: 0 0.5rem 0 0.2rem;
  }

  @keyframes roll-up {
    0% {
      transform: translateY(0);
    }
    9% {
      transform: translateY(-2em);
    }
    18% {
      transform: translateY(-4em);
    }
    27% {
      transform: translateY(-6em);
    }
    36% {
      transform: translateY(-8em);
    }
    45% {
      transform: translateY(-10em);
    }
    54% {
      transform: translateY(-12em);
    }
    63% {
      transform: translateY(-14em);
    }
    72% {
      transform: translateY(-16em);
    }
    81% {
      transform: translateY(-18em);
    }
    90% {
      transform: translateY(-20em);
    }
    100% {
      transform: translateY(-22em);
    }
  }
</style>
<div class="wrap">
  <ul>
    <li>the web</li>
    <li><Icon name="logos:react" />React</li>
    <li><Icon name="simple-icons:astro" />Astro</li>
    <li><Icon name="logos:angular-icon" />Angular</li>
    <li><Icon name="logos:vue" />Vue</li>
    <li><Icon name="logos:preact" />Preact</li>
    <li><Icon name="logos:svelte-icon" />Svelte</li>
    <li><Icon name="qwik" />Qwik</li>
    <li><Icon name="eleventy" />11ty</li>
    <li><Icon name="logos:solidjs-icon" />SolidJS</li>
    <li><Icon name="logos:nextjs-icon" />Next.js</li>
    <li>the web</li>
  </ul>
</div>
