name: Component tests
on:
  pull_request:
  push:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          check-latest: true
          registry-url: "https://registry.npmjs.org"
          node-version: 'lts/*'
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build:packages
      - name: Test
        run: pnpm test
